body { margin: 0}.clr-fix {clear: both}

.gallery-item {
    background-color: tomato;
    width: 25%;
    float: left
}

.gallery-item img {
    width: 100%
}

.menu {
    text-align: center;
    background-color: #f5f1e9;
    padding: 50px 0
}

.menu-header span {
    color: #274eba;
    font-size: 12px;
    font-family: "Raleway", sans-serif
}

.menu-header h2 {
    color: #274eba;
    font-size: 64px;
    font-family: "Playfair Display", serif;
    margin-top: 0
}

.menu-item {
    width: 33.33%;
    float: left
}

.container {
    width: 90%;
    margin: auto
}

.menu-item h3 {
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: #274eba
}

.menu-item p {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #1f3571
}

.menu-item span {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #ea2a3d
}